@font-face {
    font-family: 'GMS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
  
  
}
@font-face {
    font-family: 'GMSB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

body {
  background-color: rgb(0,0,70,0.32); /* 배경색 */
  color: rgb(0,0,50,1);     /* 글자색 */
  font-family: 'GMSB';
  text-align: center;
  padding: 5px;
}

h1 {
  color: rgb(0,0,100,1);
  font-size: 50px;
  padding: 40px;
}

p {
  font-family: 'GMS';
  font-size: 20px;
  padding: 10px
}

b{
  font-family: "GMSB";
  font-size: 30px;
  padding: 40px;
}
